<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
    	<img alt="logoDoZe" src="/restauranteDoZe/res/images/logoDoZe.png">
        <h1>Restaurante do Zé - Cardápio</h1>
        
	    <ul>
			<li>
				<a th:href="@{home}">Voltar ao início</a>
			</li>
			<li>
				<a th:href="@{reserva/info}">Fazer reserva</a>
			</li>
		</ul>
		
    </header>

    <main>
        <section class="menu">
            <div class="container">
                <div class="card-columns">
                    <div th:each="prato : ${pratos}" class="card">
                        <img th:src="@{'/res/images/' + ${prato.id} + '.jpg'}" alt="Imagem do prato">
                        <div class="card-body">
                            <h2 class="card-title" th:text="${prato.nome}">Nome do Prato</h2>
                            <p class="card-text" th:text="${prato.descricao}">Descrição do Prato</p>
                            <p class="card-text" th:text="'R$ ' + ${#numbers.formatDecimal(prato.preco, 2, 2)}">Preço do prato</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Restaurante do Zé. Todos os direitos reservados</p>
    </footer>
</body>
</html>