<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>RESERVé</title>
</head>

<body>
	<h1>
		RESERVé
	</h1>

	<p>
		RESERVé
	</p>
	<form action="/restauranteDoZe/reserva/agendar" method="POST">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" maxlength="255" required><br><br>

        <label for="cpf">CPF:</label><br>
        <input type="text" id="cpf" name="cpf" maxlength="14" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" maxlength="255" required><br><br>

        <label for="data_reserva">Data da Reserva:</label><br>
        <input type="date" id="data_reserva" name="data_reserva" required><br><br>

        <input type="submit" value="Enviar">
    </form>
	<ul>
		<li>
			<a th:href="@{cardapio}">fazer reserva</a>
		</li>
	
	</ul>
</body>
</html>