<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Restaurante do Zé</title>
	<link rel="stylesheet" href="css/home.css">
</head>

<body>
	<header>
		<img alt="logoDoZe" src="/restauranteDoZe/res/images/logoDoZe.png">
		<h1>Restaurante do Zé</h1>
	</header>

	<h2>
		Bem vindo ao Restaurante do Zé!
	</h2>

	<ul>
		<li>
			<a th:href="@{cardapio}">Veja o cardápio</a>
		</li>
		<li>
			<a th:href="@{reserva/reservaInfo}">Fazer reserva</a>
		</li>
	
	</ul>
</body>
</html>